{% extends "base.html" %}
{% load static %}

{% block body %}
<main class="blog-wrapper">
    <article class="post">
        <header class="blog-header">
            <h1 id="title">{{ blog.title }}</h1>
            <p id="description">{{ blog.description }}</p>
        </header>
        <section class="content">
            <p>
                {{ blog.text_content|linebreaks }}
            </p>
            <!-- More content can be added here -->
        </section>
    </article>
</main>
<!-- <script src="{% static 'Js/blog.js' %}"></script> -->
{% endblock body %}
