<header>
    <div class="head-container">
        <div class="logo-div">
            <a href="index.html">
                <img src="/Images/finance-platform-logo-2.png" alt="Logo"
                    style="width: 8rem; height: 3.5rem; margin-left: 4rem;margin-top: 0.1rem;">
            </a>
        </div>

        <div class="nav-bar-div">
            <nav class="navbar">
                <ul>
                    <li>
                        <a href="/Html/after Sign Up/DashBoard.html">Dashboard</a>
                    </li>


                    <li>
                        <div class="drop-container">
                            <a href="#">Tools</a>
                            <div class="dropdown-content">
                                <a href="#" onclick="alert('Sign up Required!')">Savings Goal Calculator</a>
                                <a href="#" onclick="alert('Sign up Required!')">Loan Repayment Calculator</a>
                                <a href="#" onclick="alert('Sign up Required!')">Investment Return Calculator</a>
                                <a href="#" onclick="alert('Sign up Required!')">Budget Planner</a>
                                <a href="#" onclick="alert('Sign up Required!')">Tax Estimator</a>
                            </div>
                        </div>

                    </li>

                    <li>
                        <a href="/">Blogs</a>
                    </li>



                    <li>
                        <a href="{% url 'login' %}">Log Out</a>
                    </li>


                </ul>
            </nav>
        </div>
    </div>
</header>